@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.icon {
  font-family: 'Material Icons', serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row-middle {
  align-items: center;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-start {
  justify-content: flex-start;
  text-align: left;
}

.col-center {
  justify-content: center;
  text-align: center;
}

.col-end {
  justify-content: flex-end;
  text-align: right;
}

.calendar {
  display: block;
  position: relative;
  width: 100%;
}



.icon {
  cursor: pointer;
  transition: .15s ease-out;
}

.icon {
  color: #DFDFDF;
}

.body {
  margin: 20px 0 0 0;
}

.calendar__header{
  display: flex;
  justify-content: space-between;
  max-width: 440px;
  margin: 0 auto;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 115%;
  color: #DFDFDF;
  border-bottom: 1px solid gray;
}

.footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  max-width: 440px;
  margin: 0 auto;
  font-weight: 700;
  color: #DFDFDF;
}



.letter{
  flex-grow: 0;
  padding: 12px 3px;
}

.cell {
  position: relative;
  height: 5em;
  overflow: hidden;
  cursor: pointer;
  transition: 0.25s ease-out;
}

.cell:hover {
  background: #FDD000;
  transition: 0.5s ease-out;
}

.selected {
  border-left: 10px solid transparent;
  background-color: #FDD000;
  border-image-slice: 1;
}

.row:last-child {
  border-bottom: none;
}

.cell:last-child {
  border-right: none;
}

.cell .number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: 50%;
  right: 50%;
  font-weight: 700;
}

.body{
  max-width: 470px;
  margin: 0 auto;
}

.cell .bg {
  font-weight: 700;
  line-height: 1;
  opacity: 0;
  font-size: 8em;
  position: absolute;
  top: -.2em;
  right: -.05em;
  transition: .25s ease-out;
  letter-spacing: -.07em;
}

.cell:hover .bg, .selected .bg  {
  opacity: 0.05;
  transition: .5s ease-in;
}

.col {
  flex-grow: 0;
  flex-basis: calc(100%/7);
  width: calc(100%/7);
}

.col{
  color: white;
}

.disabled {
  color: #777;
}

.popUp {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popUp__title{
  font-size: 17px;
  color: #A2A2A2;
}

.popUp__container{
  padding: 10px 70px 10px 20px;
  border: 1px solid #FDD000;
}

.popUp__close{
  position: absolute;
  top: 0;
  right: 0;
  background-color: #FDD000;
  padding: 5px;
  cursor: pointer;
}

.popUp__content{
  background-color: white;
  padding: 27px 20px;
  position: relative;
}
.close{
  display: none;
}
